################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerRank/bin/Debug
/HackerRank/obj/Debug
